
<div class="container" login-check>
  <div class="panel panel-primary login-panel">
    <div class="panel-heading">
      <div class="panel-title">List Tasks</div>
    </div>
    <div class="panel-body">
      <div class="btn btn-primary">Back</div>
      <br/><br/>
      <div class="panel panel-default">
        <div class="panel-heading">Tasks</div>

        <div class="panel-body">

          <table class="table">
            <tr>
              <th>UserId</th>
              <th>Title</th>
              <th>Description</th>
            </tr>

            <tr>
              <td>task.UserId</td>
              <td>task.Title</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
<hr/>

