
<div class="container" login-check>
    <div class="panel panel-primary login-panel">
        <div class="panel-heading">
            <div class="panel-title">Create Task</div>
        </div>
        <div class="panel-body">
            <form id="form-add-task" submit="return false;">
                <div class="input-group">
                    <label for="inputTitle" class="">Title:</label>
                    <input  type="text" id="inputTitle" class="form-control" placeholder="Title"
                           required autofocus>
                </div>

                <br/>
                <div class="input-group">
                    <label for="descriptionEditor" class="">Description:</label>
                    <textarea name="descriptionEditor" id="descriptionEditor" rows="10" cols="80" required="true"></textarea>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <button id="btnSubmit" class="btn btn-lg btn-primary btn-block"  type="button" >Add</button>
                    </div>
                    <div class="col-md-4">
                        <button id="btnCancel" class="btn btn-lg btn-warning btn-block" type="reset" >Cancel</button>
                    </div>

                </div>
                <br/>
            </form>
            <br/>
        </div>
    </div>
</div>
<hr/>





